<div class="manifesttokens" ng-init="loadTheBlock();" >

  <div class="content mr-auto ml-auto">

    <div class="newtokenform">
      latest block: {{blockNum}}
      <br>
      totes_tokes: {{totalAlms}}
      <h1>Manifest Geo Beans</h1>
      <form align="center" ng-submit="manifest_geo_beans(new_geo_bean)">
          <div class="row" style="width:40%; margin: auto;">Geo Promo Name: {{new_geo_bean.geo_promo_name}}<input type='text' class='form-control mb-1 text-center' placeholder='Geo Promo Name' ng-model="new_geo_bean.geo_promo_name"/></div>
          <div class="row" style="width:40%; margin: auto;">Amount To Issue: {{new_geo_bean.issue_num}}<input type='number' class='form-control mb-1 text-center text-center' placeholder='10' ng-model="new_geo_bean.issue_num"/></div>
          <div class="row" style="width:40%; margin: auto;">Prize: {{new_geo_bean.prize}}<input type='text' class='form-control mb-1 text-center' placeholder='5 Bean£' ng-model="new_geo_bean.prize"/></div>
          <div class="row" style="width:40%; margin: auto;">Latitude: {{new_geo_bean.lat}}<input type='number' class='form-control mb-1 text-center' placeholder='43.3375272' ng-model="new_geo_bean.lat"/></div>
          <div class="row" style="width:40%; margin: auto;">Longitude: {{new_geo_bean.lng}}<input type='number' class='form-control mb-1 text-center' placeholder='-76.3868797' ng-model="new_geo_bean.lng"/></div>
          <br/>
          <div id="newtokesbtndiv" align="center" style="width:30%; margin: auto; "><input id="newtokesbutton" type='submit' class='btn btn-block btn-primary text-center' value='Manifest'/></div>
      </form>
    </div>
  </div>
  <div class="scroller">
    <div class="flip-container" ng-repeat="alm in AngelTokens">
      <div class="flipper">
        <div class="token_front"></div>
        <div class="token_back shimmer">
            <table>
                <thead class="tokenhead">{{alm.status}}<hr class="tokebreak"/></thead>
                <tbody>
                    <h1 class="token-text">{{alm.name}}</h1>
                    <a href="http://localhost:7777/treasure_chest/{{alm.uri}}" style="text-decoration:none;" target="_blank" rel="noopener noreferrer"><h1 class="token-text">{{alm.uri}}</h1></a>
                    <h1 class="token-text">{{alm.id}} </h1>
                    <h1 class="token-text">{{alm.product}}</h1>
                    <h1 class="token-text">{{alm.cost}}</h1>
                    <h1 class="token-text">0.000{{alm.angel_coefficient}}</h1>
                    <h1 class="token-text">{{alm.mint_date}}</h1>
                </tbody>
                <tfoot><h1 class="token-text">{{alm.bal}}/{{alm.num_issued}}</h1></tfoot>
             </table>
          </div>
        </div>
    </div>
  </div>
  <br/>

</div>
